/* Estilos para o formulário de Agendar Paciente */
.agendar-formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px; /* Largura maior para ocupar mais espaço */
    margin: 0 auto;
}

.agendar-campo {
    flex: 1 1 45%; /* Ocupa quase metade da largura da tela */
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.agendar-label {
    font-weight: bold;
    margin-bottom: 8px;
}

.agendar-input, .agendar-select, .agendar-textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

.agendar-textarea {
    resize: vertical;
    min-height: 100px;
}

.agendar-botao {
    width: auto;
    background-color: #7f3672;
    color: #fff;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.agendar-botao:hover {
    background-color: #6b2f62;
}

/* Ajuste para campos que precisam ocupar a linha inteira */
.agendar-campo.full-width {
    flex: 1 1 100%; /* Ocupa a linha inteira */
}
.agendar-titulo {
    font-size: 2em; /* Aumenta o tamanho da fonte */
    font-weight: bold; /* Deixa o texto em negrito */
    margin-bottom: 20px; /* Espaçamento abaixo do título */
    color: #7f3672; /* Cor do texto, você pode ajustar conforme necessário */
}
